* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans";
}

/* header start */
header {
  background-color: rgb(198, 198, 168);
  margin: 0;
  color: #000000;
  height: 100%;
  min-height: 852px;
  min-width: 393px;
  text-align: center;
  letter-spacing: 0.2em;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #444016;
  padding-top: 2rem;
}
.header-info {
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
}
.header-sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
header p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  padding-top: 2rem;

  padding-bottom: 60px;
}
button {
  background: rgb(198, 198, 168);
  width: 100px;
  height: 60px;
  border: none;
  color: #f6f7f1;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  cursor: pointer;
}

#btn0 {
  display: none;
}
/* header end  */

/* focus start  */
.focus {
  height: 100%;
  min-height: 852px;
  min-width: 393px;
  background-color: #f6f7f1;
  text-align: center;
}
.image-1,
.image-2,
.image-3 {
  display: inline-block;
  margin-top: 20px;
}
.phone {
  display: none;
}
.focus-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-top: 10px;
}
.focus-title :first-child {
  color: #686221;
}
.focus-title :last-child {
  color: #000000;
}
.info-box {
  padding-top: auto;
}
.focus-info {
  height: 100%;

  font-size: 20px;
  line-height: 25px;
  padding: 20px 35px 50px 25px;
}
.focus-info a {
  text-decoration: none;
  color: #000000;
  height: 100%;

  font-size: 20px;
  line-height: 25px;
  padding: 20px 35px 50px 25px;
}

/* focus end  */
/* hello start */
.hello {
  height: 100%;
  min-height: 852px;
  min-width: 395px;
  background-color: #f6f7f1;
  text-align: center;
}
.hello-box {
  padding-bottom: 50px;
}
.hello-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.15em;
  max-width: 400px;
  max-height: 60px;
  margin: auto;
  padding: 44px 25px;
  padding-bottom: 100px;
}
.hello-sub-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.15em;
  margin: auto;
  margin-top: 10px;
}
.hello i {
  font-size: 25px;
  padding-bottom: 1rem;
}
.hello h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15em;
}
.hello p {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  max-width: 243px;
  margin: auto;
  padding-top: 1rem;
}
.hello article {
  padding-top: 54px;
}
.unity {
  color: #f14c36;
}
.privacy {
  color: #436b2c;
}
.clarity {
  color: #ecb20d;
}
/* hello end */
/* footer end */
footer {
  height: 100%;
  min-height: 450px;
  min-width: 393px;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  background-color: rgb(207, 208, 172);
}
.footer-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #f14c36;
  padding-top: 2rem;
}
.links {
  color: #ecb20d;
  padding-top: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
li {
  padding-top: 5px;
  cursor: pointer;
}

.links a {
  text-decoration: none;
  color: #ecb20d;
  padding-top: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
footer p {
  padding-top: 100px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #f6f7f1;
}
/* footer end */

@media screen and (min-width: 855px) {
  body {
    max-width: 1336px;
    margin: 0 auto;
    border: none;
    border-radius: 50%;
  }
  header {
    text-align: left;
    max-width: 1336px;
    max-height: 768px;
    height: 100vh;
  }
  #title1 {
    padding-left: 3rem;
    padding-top: 3rem;
  }

  .header-info {
    padding-left: 3rem;
    padding-right: 1px;
    max-width: auto;
  }

  .header-sub-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.99;
    max-width: auto;
  }
  header p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  .img {
    width: auto;
  }

  .header-info-box {
    display: flex;
  }
  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 20%;
  }
  .btn {
    display: none;
  }
  #btn0 {
    display: block;
    margin-right: 3rem;
  }
  .header-info-box {
    height: 80%;
  }

  .focus {
    display: flex;
    max-width: 1336px;
    max-height: 768px;
    text-align: center;
    align-items: center;
  }

  .image-1 {
    transform: rotate(-1.25deg);
    margin-left: 30px;
    margin-right: 30px;
  }
  .image-2 {
    transform: rotate(1.5deg);
  }
  .image-3 {
    transform: rotate(-0.5deg);
  }
  .focus article {
    align-self: center;
    max-height: 700px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .focus-title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    max-width: 100%;
    max-height: auto;
    text-align: center;
  }
  .focus-info {
    display: contents;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .phone {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
  }
  .phone-small {
    display: none;
  }

  .hello {
    max-width: 1336px;
    max-height: 768px;
    height: 100vh;
  }
  .hello-box {
    display: flex;
    align-content: space-between;
  }
  .hello-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.15em;
    max-width: 100%;
    padding-top: 200px;
    padding-bottom: 105px;
  }
  .hello i {
    font-size: 32px;
  }
  .hello h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    padding: 2rem;
  }
  .hello p {
    width: 250px;
    height: 125px;
  }
  .hello article {
    margin: auto;
  }
  footer {
    max-width: 1336px;
    height: 100%;
    min-height: 296px;
    padding-top: 38px;
  }
  .footer-title {
    border-top: 66px;
  }
  .links {
    display: flex;
  }
  .link-href {
    padding-top: 0;
  }
  li {
    margin: auto;
  }
  footer p {
    margin: auto;
    padding-top: 75px;
  }
}

figure {
  max-width: 438px;
  min-width: 375px;
  height: 503px;
  position: relative;
  background-color: #eaeaea;
  padding: 19px 19px 85px 19px;
  margin-bottom: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
figure img {
  width: 100%;
}
figcaption {
  font-family: "Caveat", cursive;
  font-size: 25px;
  text-align: center;
  color: #2c2c2c;
  margin-top: 22px;
}

figure:before {
  top: 3px;
  left: -55px;
}
figure:after {
  bottom: 3px;
  right: -60px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f7f1;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
